
.author_top_image_outer{

  text-align: center;
  position: relative;
  overflow: hidden;
  //height: $author_hero_image_height;


  @include media-query(1500px, 'max-width') {
    //height: $post_image_height_notebook;
  }

  @include media-query(1200px, 'max-width') {

   // height: $post_image_height_notebook_sm;

  }


  @include media-breakpoint-down(md) {
    height: auto;

    .author_top_image{

      position: relative;


    }
  }



}

.author_top_image_bg{

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $about_author_top_bg;

}

.author_top_text_outer{

  position: absolute;
  //top: $site_title_margin_lg;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);

  @include media-breakpoint-down(xs) {
    //top: $site_title_margin_sm;
  }

}

%author_top_text{



  font-style: italic;
  color: $white;
  text-align: center;
  font-family: $font-family-playfair;

}

.author_top_text_question{

  @extend %author_top_text;

  font-size: 2.4rem;
  font-weight: 300;
  font-family: $font-family-playfair-italic;

  @include media-breakpoint-down(lg) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: 1.2rem;
  }



}



.author_top_text_answer{

  @extend %author_top_text;

  font-size: 3rem;
  font-style: normal;
  font-weight: 700;

  @include media-breakpoint-down(lg) {
    font-size: 2rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: 1.7rem;
  }

}

.author_share{
  padding-top: 350px;

  @include media-breakpoint-down(lg) {
    padding-top: 250px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
    width: 100%;
  }

}

.author_content_outer{

  margin: -$site_title_margin_lg auto 0;
  width: 90%;
  max-width: $author_content_width;
  -ms-overflow-x: hidden;



  @include media-breakpoint-down(lg) {
    max-width: $post_header_width_lg;
  }

  @include media-breakpoint-down(md) {
    margin: -$site_title_margin_sm auto 0;
  }

  @include media-breakpoint-down(sm) {
    margin: -$site_title_margin_xs auto 0;
  }

}

.author_content_inner{

  background-color: $white;
  z-index: 1;

}

.author_content{


  width: calc(100% - 33px);
  padding-left: 97px;
  padding-right: 130px;
  padding-top: $site_title_margin;

  @include media-breakpoint-down(lg) {
    padding-top: $site_title_margin_sm;
    padding-left: 20px;
    padding-right: 53px;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

}

.author_content_container{

  position: relative;
  font-size: 1rem;

}

.author_content_image{

  padding: $ts-standart_padding;
  border: 1px solid $ts_grey_blockquote_border;

  @include media-breakpoint-down(lg) {

    padding: $ts-standart_padding_sm;

  }

  &.author_profile{


  }

  &.author_place{

    border-left: none;

  }

  &.author_speaker{
    border: none;
    padding-right: 0;

    @include media-breakpoint-down(sm) {
      padding: 0 0 $ts_standart_padding_sm 0;
    }

  }

}

.author-right{
  position: relative;
}

.author-left{
  position: relative;
  text-align: left;
}

.data_shifted_left{

  margin-left: -$author_shifted_width;

  @include media-query($author_first_break_width, 'max-width') {
    //margin-left: -$author_shifted_width;
  }

  @include media-breakpoint-down(lg) {

    margin-left: -$author_shifted_width_first_break;

  }

  @include media-breakpoint-down(sm) {

    margin-left: 0;

  }


}

.author_name{

    font-size: 90px;
    //font-family: $font-family-playfair;
    font-family: $font-family-playfair-bold;
    color: $ts_playfair_grey;
    //font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 20px 0 0 0;



  &.author_name_mobile{
    display: none;
  }

  @include media-query($author_first_break_width, 'max-width') {
    font-size: 5rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 3rem;
    margin: 40px 0 0 0;
  }

  @include media-breakpoint-down(sm) {

    &.author_name_desktop{
      display: none;
    }

    &.author_name_mobile{
      display: block;
      text-align: left;
      padding-right: 20%;
      margin: -10px 0 $ts_standart_padding_sm 0;
    }

  }




}


.author_position{

  //font-size: 1.7rem;
  font-size: 26px;
  font-family: $font-family-lora-italic;
  color: $ts_playfair_grey;

  text-align: center;
  margin: 0;
  padding: 0 0 0 0px;
  position: absolute;
  display: block;
  right: -100%;
  top: 0;
  width: 100%;

  @include media-query($author_first_break_width, 'max-width') {
    font-size: 1.5rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 1.2rem;
  }

  @include media-breakpoint-down(sm) {

    position: relative;
    right: 0;

  }


}


.author_profile_img_outer{

  position: relative;

}




.position_description{
  font-size: 1rem;
  color: $black;
  text-align: left;
  margin: 0 0 0 20%;
  width: 80%;
  padding: 0 0 65px 0;

  &.position_description_mobile{
    display: none;
  }

  @include media-breakpoint-down(lg) {

    padding: 0 0 25px 0;

  }

  @include media-breakpoint-down(sm) {
    margin: 0 0 0 0;
    width: 100%;

    &.position_description_mobile{
      display: block;
      padding: $ts_standart_padding_sm 0 0;
    }

    &.position_description_desktop{
      display: none;
    }
  }

}

.author_speaker_img_outer{

  text-align: right;

}

.author_place_img_outer{

  text-align: right;

}

.author_blog_aim{

  padding: 150px $author_shifted_width 0 0;

  @include media-breakpoint-down(lg) {

    padding: 25px $author_shifted_width_first_break 0 0;

  }

  @include media-breakpoint-down(sm) {

    padding: $ts_standart_padding_sm 0 $ts_standart_padding_sm 0;

  }



}

.author_blog_aim_title{

  font-size: 2.6rem;
  color: $ts_black;
  font-family: $font-family-playfair;
  line-height: 1.2;
  text-align: left;
  margin-bottom: $site_title_margin_sm;
  margin-right: 30px;

  @include media-query($author_first_break_width, 'max-width') {
    font-size: 2.1rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 1.5rem;

    margin-right: 0px;

  }

  @include media-breakpoint-down(sm) {
    //margin-bottom: $site_title_margin_xs;

  }




}

.author_blog_aim_text{

  margin-right: 30px;

  @include media-breakpoint-down(lg) {

    margin-right: 15px;

  }

  @include media-breakpoint-down(sm) {
    margin-right: 0;
  }

}

.author_blog_aim_quote{

  margin-right: 30px;
  font-family: $font-family-playfair-italic;

  @include media-query(1400px, 'max-width') {
    font-size: 1.5rem;
  }

  @include media-breakpoint-down(lg) {

    margin-right: -150%;

  }

  @include media-breakpoint-down(sm) {

    margin-right: 0%;

  }

}

/*** Marketing block***/



.author_marketing_outer{

  /*padding-top: $site_title_margin_lg;
  padding-bottom: $site_title_margin_lg;*/
  background-color: $ts_grey_5;
  position: relative;


  @include media-breakpoint-down(lg) {

   margin-top: $site_title_margin_sm;

  }

  &:before{
    content: '';
    background-color: $ts_grey_5;

    //width: calc(100vw - 60px - 14px);
    width: calc( 1560px - 30px);
    position: absolute;
    margin: auto;
    top: 0;
    height: 100%;
    z-index: -1;
    left: 50%;
    -webkit-transform: translateX(-50%);
   // -ms-transform: none;
    transform: translateX(-50%);


    @include media-query(1560px, 'max-width') {
      width: calc(100vw - 30px );
    }

    @include media-breakpoint-down(lg) {

      width: calc( 960px - 30px );

    }

    @include media-breakpoint-down(md) {

      width: calc( 720px - 30px );

    }

    @include media-breakpoint-down(sm) {

      //content: none;
      width: calc( 540px - 30px );

    }

    @include media-breakpoint-down(xs) {

      width: calc( 100% - 30px );

    }

  }


}

.marketing_title{

  font-size: 90px;
  //font-size: 5.6rem;
  font-family: $font-family-playfair-bold;
  color: $ts_playfair_grey;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-bottom: $ts_standart_padding;
  margin-top: -25px;

  @include media-query(1400px, 'max-width') {
    font-size: 5rem;
  }

  @include media-breakpoint-down(lg) {

    margin-top: 0px;
    font-size: 3rem;
    text-align: center;

  }

  @include media-breakpoint-down(sm) {

    font-size: 2.5rem;
    margin-bottom: $ts_standart_padding_sm;

  }

}

.marketing_title_second{

  //font-size: 50px;
  font-size: 3rem;
  font-family: $font-family-playfair;
  color: $ts_playfair_grey;
  line-height: 1;
  text-align: center;
  margin-bottom: $ts_standart_padding;

  @include media-query(1400px, 'max-width') {
    font-size: 2rem;
  }

  @include media-breakpoint-down(lg) {

    font-size: 2rem;

  }

  @include media-breakpoint-down(sm) {

    font-size: 1.8rem;
    margin-bottom: $ts_standart_padding_sm;

  }

}

.marketing_title_description{

  //font-size: 18px;
  font-size: 1rem;
  text-align: right;
  padding-right: $site_title_margin;

}


.marketing_text_1{

  font-size: 16px;
  //font-family: $font-family-open-sans-bold;
  text-align: left;
  background-color: $white;
  padding: 35px 65px 20px 20px;
  margin-left: $marketing_text_margin_left;
  margin-bottom: 0;

  @include media-breakpoint-down(lg) {

    margin-left: $marketing_text_margin_lg;

  }

  @include media-breakpoint-down(xs) {

    padding: 25px 35px 15px 15px;
    margin-left: $marketing_text_margin_sm;
    margin-right: $marketing_text_margin_xs;

  }

  @include media-query(380px, 'max-width') {

    margin-left: 10px;
    margin-right: 10px;

  }

}


.marketing_text_2{

  //font-size: 32px;
  font-size: 2rem;
  font-family: $font-family-playfair-italic;
  color: rgb(76, 76, 76);
  line-height: 1.3;
  text-align: left;
  padding: 30px 35px 35px 40px;
  background-color: $white;
  margin-bottom: 0;

  @include media-query(1400px, 'max-width') {
    font-size: 1.5rem;
  }

  @include media-breakpoint-down(lg) {

    font-size: 1.5rem;

  }

  @include media-breakpoint-down(xs) {

    padding: 15px 25px 25px 20px;
    margin-left: $marketing_text_margin_xs;
    margin-right: $marketing_text_margin_xs;

  }

  @include media-query(380px, 'max-width') {

    margin-left: 30px;
    margin-right: 10px;

  }

}

.marketing_text_3{

  @extend .marketing_text_1;

}






