.site_footer {
	padding: $ts_standart_padding 0;
    background-color: $footer_bg_color;
}

.footer_social_block{

  text-align: center;
  color: $black;
  padding: $ts_standart_padding 0 35px;
  border-bottom: 2px groove $footer_border_color;

}

.footer_copyright_text{
  margin: 0;
  padding: 40px 0 20px;
}

.footer_copyright_block{
  text-align: center;
  color: $white;
}