header{

	$gm-header-row-height: 65px;

	.header-logo-part{
		height: 320px;
		background: url(build/img/header_bg.png) no-repeat;
		background-size: cover;
		background-position-x: center;

		@include media-breakpoint-down(md) {

			height: 340px;
			background-position-x: left;

		}

		@include media-breakpoint-down(sm) {

			height: 330px;

		}
	}

	.header-first-row-content{
		height: $gm-header-row-height;

		@include media-breakpoint-down(md) {

			height: 0px;

		}

	}

	.header-last-row-content{
		height: $gm-header-row-height;

		@include media-breakpoint-down(sm) {

			height: 100%;
			width: 100%;
			padding: 25px 15px 0 15px;

		}
	}


	.header-find-form{
		height: $gm-header-row-height;
		position: relative;

		@include media-breakpoint-down(sm) {

			height: auto;

		}

		.find-image{
			background:  url(build/img/lupa.png) no-repeat;
			background-size: initial;
			background-position: center center;
			width: 20px;
			height: 20px;
			position: absolute;
			left: calc(363px - 22px);

			@include media-breakpoint-down(sm) {

				left: 94%;
				top: 7px;

			}

			@include media-breakpoint-down(xs) {

				display: none;

			}
		}

		.header-find-form-input{
			width: 363px;
			height: 34px;
			border: 0;
			border: 1px solid $gm-input-border;
			border-radius: 0;
			background-color: $gm-input-bg;

			@include media-breakpoint-down(sm) {

				width: 100%;
				//margin-bottom: 25px;

			}
		}


	}



	.header-main-row-content{
		height: 148px;

		@include media-breakpoint-down(md) {

			height: auto;
		}

	}

	.header-shop-btn-outer{
		padding: 20px 0 0;
	}

	.header-bg-helper-line{
		height: 148px;
		position: absolute;
		width: 100%;
		top: 65px;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		background-color: #fbfaf5;
		opacity: .6;

		@include media-breakpoint-down(md) {

			top: 0;

		}

		@include media-breakpoint-down(sm) {

			height: 80px;

		}
	}

	.nav-bg-helper-line{
		height: 40px;
		position: absolute;
		width: 100%;
		bottom: 0px;
		left: 0;
		right: 0;
		z-index: 1;
		background-color: $white;
		//opacity: .6;

		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	.header-main-part{
		z-index: 2;

		@include media-breakpoint-down(md) {
			height: 100%;
		}


	}

	.header-main-row-left{

		@include media-breakpoint-down(md) {

			order: 2;

		}
	}

	.header-main-row-center{

		@include media-breakpoint-down(md) {

			order: 1;

		}
	}

	.header-main-row-right{

		@include media-breakpoint-down(md) {

			order: 3;

		}
	}

	.header-phone-outer{

		&:hover{

			.header-phone-img{
				opacity: 0.6;
				transition-duration: $gm-standart-tansition-duration;
			}

			.header-phone-number{
				color: $gm-red;
				transition-duration: $gm-standart-tansition-duration;
			}

		}


	}

	.header-shop-text{
		font-size: 1.3rem;
		transition-duration: $gm-standart-tansition-duration;

		&:hover{
			color: $gm-red;
			transition-duration: $gm-standart-tansition-duration;
		}

		@include media-breakpoint-down(sm) {

			display: none;

		}
	}

	.header-phone-number{
		margin: 0;
		text-align: right;
		font-size: 1.3rem;
		transition-duration: $gm-standart-tansition-duration;

		@include media-breakpoint-down(md) {

			text-align: center;

		}
	}

	.header-phone-img-outer{
		display: inline-block;
		width: calc(27px + 10px);
		float: left;
		height: 100%;
		position: relative;
		padding: 0 10px 0 0;

		@include media-breakpoint-down(md) {

			display: none;

		}
	}

	.header-phone-img{
		position: absolute;
		top: 0px;
		left: 0;
		bottom: 0;
		margin: auto;
		opacity: 1;
		transition-duration: $gm-standart-tansition-duration;

		@include media-breakpoint-down(md) {

			right: 0;

		}
	}

	.header-phones-outer{
		display: inline-block;
		width: calc(100% - 27px - 10px);
		float: left;

		@include media-breakpoint-down(md) {

			width: 300px;
			margin: auto;
			display: block;
			float: none;

		}

		@include media-breakpoint-down(sm) {

			display: none;

		}
	}

	.site-logo-link{
		margin: 0;
	}

	.site-logo-img{
		width: 279px;
		height: 142px;

		@include media-breakpoint-down(sm) {

			height: 70px;
			width: auto;

		}

	}


	/* top-menu-container */

	.top-menu-container{

		height: 40px;
		padding-top: 0;
		padding-bottom: 0;
		z-index: 2;

	}



	#navbarNav{

		.nav-link{
			color: $gm-green-strong;
			text-transform: uppercase;
			padding-left: 0;
			padding-right: 0;
			padding: 0;
			font-size: 17px;
			line-height: 40px;

			@include media-breakpoint-down(md) {
				font-size: 22px;
				line-height: 45px;
				height: 45px;
				background-color: $white;

				&:hover, &:focus{

					color: $gm-red;

				}


			}

		}

	}

	.navbar-nav{
		min-width: 980px;

		@include media-breakpoint-down(md) {
			min-width: 100%;
			background-color: $gm-grey;
			padding: 45px 0;
		}
	}

	.nav-item{

		height: 40px;
		background: none;
		background-position: bottom;
		transition-duration: $gm-standart-tansition-duration;
		transition-timing-function: ease;

		padding: 0 20px;
		border-right: 1px solid rgba(128, 128, 128, 0.5);

		&:last-of-type{
			border-right: none;
		}


		@include media-breakpoint-down(md) {
			height: 45px;
			background-color: $white;
			margin-bottom: 3px;
			padding-left: 60px;
			border-right: none;
			width: 100%;
		}

		&:hover{
			background: url(build/img/menu-current.png) bottom repeat-x;
			transition-duration: $gm-standart-tansition-duration;
			transition-timing-function: ease;

			@include media-breakpoint-down(md) {

				background: $white;
			}
		}

		&.nav-link-current{
			background: url(build/img/menu-current.png) bottom repeat-x;

			a{
				@include media-breakpoint-down(md) {
					color: $gm-red;

				}
			}

			@include media-breakpoint-down(md) {
				color: $gm-red;
				background: $white;
			}

		}

	}

	.gm-nav-menu-toggler{

		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;

	}

	/*  For appearing top menu from left to right*/
	@include media-breakpoint-down(md) {

		.collapsing{
			height: auto;

		}

		#navbarNav {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
		}

		.navbar-light .navbar-toggler{
			border-color: transparent;
		}

	}



}