


.site-header{
    
    .site_logo{
        width: $site_logo_width;

    }
    
    .navbar-collapse{

        justify-content: flex-end;
        display: flex;
        width: 100%;

        @include media-breakpoint-down(xs) {

            width: 100%;

        }
    }

    .navbar_brand_outer{

        @include media-breakpoint-down(xs) {
            width: 100%;
        }

    }

    .navbar_links_outer{

        @include media-breakpoint-down(xs) {
            width: 100%;
        }

    }

    .display_on_mobile{
        display: none;

        @include media-breakpoint-down(xs) {
            display: list-item;
        }

    }
    
    .navbar-brand{
        padding-top: .5rem;
        padding-bottom: .5rem;

        @include media-breakpoint-down(md) {
            padding-top: 0rem;
            padding-bottom: 0rem;
        }

        @include media-breakpoint-down(xs) {
            padding-top: 25px;
            margin: auto;
            transition: padding $ts-standart-tansition-duration ease-out;
        }
    }

    .header_nav_part_container{
        @include media-breakpoint-down(xs) {
            width: 100%;
        }
    }

    
    .navbar{

        @include media-breakpoint-down(md) {
            padding-top: 0.3rem;
            padding-bottom:  0.3rem;
        }

        @include media-breakpoint-down(xs) {
            padding-left: 0;
            padding-right: 0;
            padding-bottom:  0;
        }

        .navbar-nav{

            flex-direction: row;

            @include media-breakpoint-down(md) {
               /* padding: 20px 5% 0;*/
            }

            @include media-breakpoint-down(xs) {

                //justify-content: space-between;
                width: 100%;

            }
        }

        .nav-item{

            &.active{

                .nav-link{
                    color: $ts_blue;

                    @include media-breakpoint-down(xs) {

                        color: $black;
                        width: 100%;

                        &:before{

                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 6px;
                            bottom: -1px;
                            left: 0px;
                            background-color: $ts_blue;
                            visibility: visible;

                            transform: scaleX(1);
                            -webkit-transition: all 0.2s ease;
                            -moz-transition: all 0.2s ease;
                            transition: all 0.2s ease;

                        }




                    }

                }

            }

            @include media-breakpoint-down(xs) {

                &.menu-item-first{

                    .nav-link{

                        &:hover{
                            &:before{
                                left: -15px;
                                right: auto;
                                width: calc(100% + 15px);
                            }
                        }

                        &:before{
                            left: -15px;
                            right: auto;
                            width: calc(100% + 15px);
                        }
                    }



                }

                &.menu-item-last{

                    .nav-link{
                        &:before{
                            right: -15px;
                            left: auto;
                            width: calc(100% + 15px);
                        }

                    }

                    &:hover{
                        &:before{
                            right: -15px;
                            left: auto;
                            width: calc(100% + 15px);
                        }
                    }


                }

            }

            @include media-breakpoint-down(md) {
               /* width: 100%;
                padding: 15px 0;
                border-bottom: 1px solid $white;

                &:first-of-type{
                    border-top: 1px solid $white;
                }*/
            }

            @include media-breakpoint-down(xs) {

                flex-grow: 1;
                max-width: 100%;
                width: 33.33%;

                height: 75px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                transition: height $ts-standart-tansition-duration ease-out;

            }
        }

        .nav-link{
            color: $black;
            position: relative;
            text-align: center;
            padding: 0.5rem 1rem 0.5rem;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 6px;
                bottom: 0;
                left: 0;
                background-color: $ts_blue;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                -moz-transform: scaleX(0);
                -ms-transform: scaleX(0);
                -o-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                transition: all 0.2s ease;



            }

            &:hover{

                color: $ts_blue;

                &:before {
                    visibility: visible;
                    -webkit-transform: scaleX(0.8);
                    -moz-transform: scaleX(0.8);
                    -ms-transform: scaleX(0.8);
                    -o-transform: scaleX(0.8);
                    transform: scaleX(0.8);

                    -webkit-transition: all 0.2s ease;
                    -moz-transition: all 0.2s ease;
                    transition: all 0.2s ease;

                    @include media-breakpoint-down(xs) {

                        transform: scaleX(1);
                        bottom: -1px;

                    }
                }

            }

            @include media-breakpoint-down(md) {
               /* color: $white;*/
                text-align: left;
            }

            @include media-breakpoint-down(xs) {
                //padding: 25px 0 25px;
                padding: 5px 0 10px;
                text-align: center;
                width: 100%;
                height: 100%;
                transition: padding $ts-standart-tansition-duration ease-out;
                display: flex;
                align-items: center;
                justify-content: center;

                .nav-link-inner{

                    width: 50px;
                    word-wrap: break-word;
                    position: relative;
                    display: flex;
                    justify-content: center;

                }

            }
        }

    }

    .header_nav_part{

        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: $site_nav_height;
        z-index: 999;
        overflow: hidden;
        transition: all 0.6s ease-out;
        opacity: 1;
        background-color: $white;
        border-bottom: 1px solid $menu_border_color;

        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        @include media-breakpoint-down(md) {
            height: $site_nav_height_sticky;
        }

        @include media-breakpoint-down(xs) {
            height: auto;
        }

    }

    .sticky {

      height: $site_nav_height_sticky;
      transition: all 0.6s ease-out;
      background-color: $ts_white_opacity;

        @include media-breakpoint-down(md) {
            height: inherit;
        }

        @include media-breakpoint-down(xs) {
            background-color: $white;
            overflow: visible;


            .navbar-brand{

                padding-top: 0;
                transition: padding $ts-standart-tansition-duration ease-out;

            }

            &.navbar{

                .nav-item{
                    height: 50px;
                    transition: height $ts-standart-tansition-duration ease-out;
                }

                .nav-link{

                    padding: 5px 0 10px;
                    transition: padding $ts-standart-tansition-duration ease-out;

                }

            }

        }

    }

    .navbar-toggler{
        display: none;
        padding: 0;

        &:hover, &:focus{
            background-color: $ts_blue_muted;
        }
    }


    /*  For appearing top menu from left to right*/
    @include media-breakpoint-down(md) {

        /*.collapsing{
            height: auto;

        }

        #navbarNav {
            position: fixed;
            top: $site_nav_height;
            right: 0;
            z-index: 1;
            width: 100%;
            background-color: $ts_blue_muted;

            @include media-breakpoint-down(md) {
                top: $site_nav_height_sticky;
            }

        }

        .navbar-light .navbar-toggler{
            border-color: transparent;
        }*/

    }
    
}



