


header{
    
    .site_logo{
        width: $site_logo_width;
        //height: $site_logo_height;
    }
    
    .navbar-collapse{
        height: 100%;
        justify-content: flex-end;
    }
    
    .navbar-brand{
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    
    .navbar_row{
        width: 100%;
    }
    
    
    .header_full{
    
    
    }
    
    
    .navbar{
        padding: 0rem 1rem;
    }

    .header_nav_part{

        position: fixed;
        top: 0px;
        /*max-height: 50px;*/
        z-index: 999;
        width: 100%;
        overflow: hidden;
        transition: all 0.3s;
        opacity: 0;
        top: -100px;

    }

    .sticky {
      display: block;  
      background-color: $sticky_bg;
      opacity: 1;
      top: 0px;
      border-bottom: 1px solid $gray-100;
    }
    
}



