.blog_item_inner{
  color: $black;


}

.blog_item_info_block{
  padding: 35px;
}

.blog_item_img_outer{

}

.blog_item_cat{

  margin: 0;
  padding: $ts_standart_padding 0 0 0;

}

.blog_item_inner{
  background-color: $white;
}

.blog_item_info{
  padding: 0 ;
}