

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

p{
  color: $black;
}

.ts_bg_highlighter {
  background-color:#aae4fe;
}


blockquote{
  font-family: 'Georgia';
  font-size: 2rem;
  line-height: 1.2;
  color: $ts_grey_blockquote;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  padding: $ts_standart_padding 0;
  border-top: 1px solid $ts_grey_blockquote_border;
  border-bottom: 1px solid $ts_grey_blockquote_border;
  margin-bottom: 2rem;

  p{
    margin-bottom: 0;
    font-family: inherit;
    color: inherit;
  }

}

/* post template start*/

.post_header_container{


  background-color: $white;

}

.post_title{

  font-size: 4.2rem;
  font-family: $font-family-playfair-bold;
  color: $ts_playfair_grey;
  background-color: $white;
  padding-top: $site_title_margin;
  text-align: left;
  font-weight: bold;
  margin-bottom: $site_title_margin_sm;

  @include media-breakpoint-down(lg) {
    font-size: 3rem;
    padding-top: $site_title_margin_sm;
  }

  @include media-breakpoint-down(md) {
    font-size: 2.5rem;
    margin: 0px 0 $site_title_margin_sm;
  }

  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: 1.5rem;
  }


}

.post_container_inner{
  position: relative;
}

.post_slider_container{

  .section_title.section_title_playfair_grey{
    font-size: 3.6rem;
    font-weight: bold;

    @include media-breakpoint-down(lg) {
      font-size: 2.4rem;
    }

  }
}


.post_content_container{
  font-size: 1rem;
  text-align: left;
  position: relative;


  .post_content{


    p{
      margin-bottom: 2rem;
    }



  }
}

.post_image{
  margin: 0 auto;

}

.has-post-thumbnail{

  .post_container{

    margin: -$site_title_margin_lg auto 0;

    @include media-breakpoint-down(sm) {
      margin: -$site_title_margin_sm auto 0;
    }

  }
}

.share_buttons_outer{
  width: 33px;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: $post_margin_top;
  left: 0;
  height: calc( (43px * 4) +  60px);
  padding-top: $post_margin_top;

  @include media-breakpoint-down(sm) {
    position: relative;
    height: auto;
    left: auto;
    top: 0;
    width: 80%;
    margin: auto;
    padding: $ts_standart_padding_sm 0 0;
  }
}

.siblings_block{
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 400px);
  width: 100%;
  padding-top: 500px;

  @include media-breakpoint-down(sm) {
    /*position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    height: 40px;
    width: 100%;
    padding-top: 0px;*/
    position: relative;
    order: 2;
    height: auto;
    padding-top: $ts_standart_padding_sm;
  }

  .siblings_block_inner{
    position: absolute;
    position: sticky;

    width: 100%;
    height: 1px;
    top: 250px;

    @include media-breakpoint-down(sm) {
     /* position: absolute;
      top: 0;*/
      position: relative;
      height: 100%;
      top: 0;
      padding: $ts_standart_padding 0 ;
    }
  }


  .siblings_item{

    position: absolute;

    top: 100%;
    line-height: 1;

    @include media-breakpoint-down(sm) {
      /*bottom: -20px;
      top: auto;*/
      position: inherit;
      bottom: auto;
      top: auto;
    }

    &.siblings_item_prev{
      left: -55px;
     /* -moz-transform: rotate(-90deg); !* Для Firefox *!
      -ms-transform: rotate(-90deg); !* Для IE *!*/
     /* -webkit-transform: rotate(-90deg); !* Для Safari, Chrome, iOS *!
      -o-transform: rotate(-90deg); !* Для Opera *!*/
      transform: rotate(-90deg);

      @include media-breakpoint-down(sm) {
        transform: rotate(0deg);
        left: auto;
      }
    }

    &.siblings_item_next{
      right: -40px;
     /* -moz-transform: rotate(90deg); !* Для Firefox *!
      -ms-transform: rotate(90deg); !* Для IE *!
      -webkit-transform: rotate(90deg); !* Для Safari, Chrome, iOS *!
      -o-transform: rotate(90deg); !* Для Opera *!*/
      transform: rotate(90deg);

      @include media-breakpoint-down(sm) {
        transform: rotate(0deg);
        right: auto;
      }

    }


    a{

      font-size: 14px;
      color: $black;
      font-weight: bold;
      text-decoration: underline;
      text-align: center;
      transition: color 0.3s ease-in;

      &:hover{
        color: $ts_blue;
        transition: color 0.3s ease-in;
      }

    }

  }
}


.post_container{

  width: 80%;
  max-width: $post_header_width;
  margin: 0 auto 0;

  @include media-breakpoint-down(lg) {
    max-width: $post_header_width_lg;
  }

  .post_element{

    padding-top: 0;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 0;

    @include media-breakpoint-down(lg) {
      padding-left: 70px;
      padding-right: 70px;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 0px;
      padding-right: 0px;
    }


    &.disqus_contaainer{
      padding-top: $site_title_margin;

      @include media-breakpoint-down(sm) {
        padding-top: $site_title_margin_sm;

      }
    }

    &.post_slider_container{
      padding-top: $site_title_margin;
      padding-bottom: $site_title_margin;

      @include media-breakpoint-down(sm) {
        padding-top: $site_title_margin_sm;
        padding-bottom: $site_title_margin_sm;
      }
    }

    &.post_content{
      width: calc(100% - 33px);
      padding-left: 110px;
      padding-top: $post_margin_top;

      @include media-breakpoint-down(lg) {
        padding-top: $site_title_margin_sm;
        padding-left: 60px;
      }

      @include media-breakpoint-down(sm) {
        padding-left: 0px;
        width: 100%;
        padding-top: $site_title_margin_sm;
      }

    }

  }



}


/* post template end*/



.entry-meta,
.entry-footer {
  font-size: .75rem;


  .fa {
    color: $gray-600;
    margin-right: .3em;
  }

  .meta_separetor{
    margin: 0 0.4em .4em 0;
  }
  span {
    margin: 0 0em .4em 0;
    display: inline-block;
    font-size: 1rem;
    color: $ts_playfair_grey;

    &:last-child {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $ts_playfair_grey;
      font-size: 16px;

      &:hover {
        color: $ts_blue;
      }
    }
  }
	.edit-link {
		.btn {
      		color: $white;

      	&:hover {
	        color: $white
	    }
	}
  }
}

/* Posts Navigation */
.nav-links {
	display: flex;
	justify-content: space-between;
}

/* Screenreaders */
.screen-reader-text {
	@include sr-only;
}

/* 404 page */
.error404 {
	.content-area {
		@include make-col-ready();
		@include make-col(12);	
	}
}

html, body { height: 100%; }

.site-content{

  margin-top: $site_nav_height;

  @include media-breakpoint-down(xs) {

    margin-top: $site_nav_mobile;

  }
    
}

main {

 
}


.blue_bg_block{

  background-color: $ts_blue;
  color: $white;

}


.section_title {
    margin: 0px 0 $site_title_margin_sm;

    font-size: 4.5rem;
    line-height: 1.1;

    &.section_title_playfair_grey{
      font-family: $font-family-playfair;
      color: $ts_playfair_grey;
      text-align: center;
      font-weight: 600;
    }

    @include media-breakpoint-down(lg) {
      font-size: 3rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
      margin: 0px 0 $site_title_margin_xs;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
        //margin: 0px 0 $site_title_margin_xs;
    }

    @include media-breakpoint-down(xs) {
      font-size: 1.5rem;
    }
}

.group_block_title{
  font-size: 1.25rem;
}

.section_style{
    padding-top: $site_title_margin;
    padding-bottom: $site_title_margin;

    @include media-query(1600px, 'max-width') {
      padding-top: $site_title_margin_lg;
      padding-bottom: $site_title_margin_lg;
    }

    @include media-breakpoint-down(md) {

      padding-top: $site_title_margin_sm;
      padding-bottom: $site_title_margin_sm;

    }
}

/* Hero image section start */
.hero_container{
    overflow: hidden;
}

.header_hero_image_outer{

}

.header_hero_image{

  display: block;
  margin: 0 auto $ts_standart_padding;
  z-index: -3;

}

/* Hero image section end */

/* Hero image button start*/

.hero_btn{
    
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 277px;
    margin: $ts_standart_padding auto 0;
    padding: 0;
    transition: top 0.5s ease-in;
    z-index: 9;

    @include media-breakpoint-down(lg) {
      top: 40px;
    }


    @include media-breakpoint-down(md) {

      top: 25px;
      width: 215px;
      margin: $ts_standart_padding_sm auto 0;

    }

    @include media-breakpoint-down(sm) {
      top: 20%;
    }


    
    .hero_btn_img{
        transform: scale(1.0);
        transition: all .6s ease-in-out;
        
        &:hover{
            transform: scale(1.1);
            transition: all .2s ease-in-out;
        }
    }
}

/* Hero image button start*/


/* Inpire block start*/


.inspire_block_title{
   text-align: center;
  font-family: $font-family-playfair;
  font-weight: bold;


}



.inspire_items_outer{
    padding: 0 3% 0;
}



.inspire_block_title_outer{
    padding: 0 5% 0;
}


.inspire_title{
    font-weight: 600;
}

.inspire_title_outer {
    height: 50px;
}

.inspire_item{
    
    .inspire_img_outer{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: $ts_standart_padding;
        padding-top: $ts_standart_padding;
        transition: padding-left $ts-standart-tansition-duration ease-in-out;


        @include media-breakpoint-down(md) {
          padding-bottom: $ts_standart_padding_sm;
          padding-top: $ts_standart_padding_sm;
        }
    }
    
    &:hover{
        .inspire_img_outer{
            /*padding-left: calc(100% - 45px);
            transition: padding-left $ts-standart-tansition-duration ease-in-out;*/
        }
    }
}

.inspire_item_inner{
  width: 80%;
  margin: auto;
  padding-bottom: $site_title_margin;

  @include media-breakpoint-down(md) {
    padding-bottom: $site_title_margin_sm;
    width: 100%;

  }

  &.inspire_item_inner_4
  ,&.inspire_item_inner_5
  ,&.inspire_item_inner_6{
    padding-bottom: 0;
  }

}

.inspire_text{
  color: inherit;
}

/* Inpire block end*/

/* Blog page start*/

.blog_section{
  background-color: $blog_bg;
}

/* Blog page end*/


/* breadcrumb start*/

.breadcrumb_nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}





