/*--------------------------------------------------------------
# Theme Colors
--------------------------------------------------------------*/
$sticky_bg:  rgba(255, 255, 255, 0.93);
$ts_blue: #03a9f5;
$ts_blue_muted: rgba(3, 169, 245, 0.7);
$ts_grey: #ebebeb;
$ts_grey_light: #cecece;
$ts_grey_bg: #f6f6f6;
$ts_white_opacity: rgba(255, 255, 255, 0.8);
$ts_playfair_grey: rgb(206, 206, 206);
$ts_playfair_grey_strong: rgb(108, 108, 108);
$ts_graphit_color: #373737;
$ts_graphit_light_color: #5d5c5c;
$ts_grey_green: #f7f9fd;
$ts_grey_black: #6c6c6c;
$ts_grey_blockquote: #4c4c4c;
$ts_grey_blockquote_border: #e9e9e9;
$ts_grey_blue: #e5edfe;
$ts_grey_2: #4b4b4b;


$menu_border_color: $ts_grey;
$grey_title: $ts_grey_light;
$footer_bg_color: $ts_graphit_color;
$footer_border_color: $ts_graphit_light_color;
$blog_bg: $ts_grey_green;
$nav_cat_blog: $ts_grey_black;
$blog_item_hover: $ts_grey_blue;
$share_bg_color: $ts_grey_2;


/*--------------------------------------------------------------
# Default Bootstrap Colors
--------------------------------------------------------------*/
 $white:  #fff !default;
 $gray-100: #f8f9fa !default;
 $gray-200: #e9ecef !default;
 $gray-300: #dee2e6 !default;
 $gray-400: #ced4da !default;
 $gray-500: #adb5bd !default;
 $gray-600: #868e96 !default;
 $gray-700: #495057 !default;
 $gray-800: #343a40 !default;
 $gray-900: #212529 !default;
 $black:  #000 !default;

 $grays: (
   100: $gray-100,
   200: $gray-200,
   300: $gray-300,
   400: $gray-400,
   500: $gray-500,
   600: $gray-600,
   700: $gray-700,
   800: $gray-800,
   900: $gray-900
 ) !default;

// $blue:    #007bff !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
// $red:     #dc3545 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;

// $colors: (
//   blue: $blue,
//   indigo: $indigo,
//   purple: $purple,
//   pink: $pink,
//   red: $red,
//   orange: $orange,
//   yellow: $yellow,
//   green: $green,
//   teal: $teal,
//   cyan: $cyan,
//   white: $white,
//   gray: $gray-600,
//   gray-dark: $gray-800
// ) !default;

// $theme-colors: (
//   primary: $blue,
//   secondary: $gray-600,
//   success: $green,
//   info: $cyan,
//   warning: $yellow,
//   danger: $red,
//   light: $gray-100,
//   dark: $gray-800
// ) !default;
