$ts-standart-tansition-duration: 0.4s;

/* Fonts */
$font-family-playfair: "Playfair_Display-Regular", Georgia, "Times New Roman", Times, serif ;
$font-family-open-sans-bold: "OpenSans-Bold", Georgia, "Times New Roman", Times, serif;
$font-family-playfair-bold: "Playfair_Display-Regular", Georgia, "Times New Roman", Times, serif;
