$ts-standart-tansition-duration: 0.4s;
$ts_standart_padding: 25px;
$ts_standart_padding_sm: 15px;

/* Fonts */
$font-family-playfair: "Playfair_Display-Regular", Georgia, "Times New Roman", Times, serif ;
$font-family-open-sans-bold: "OpenSans-Bold", Georgia, "Times New Roman", Times, serif;
$font-family-playfair-bold: "Playfair_Display-Bold", Georgia, "Times New Roman", Times, serif;

$font-family-fontawesome: "fontawesome";

/* header */
$site_logo_width: 187px;
$site_logo_height: 42px;

$site_nav_height: 65px;
$site_nav_height_sticky: 50px;

$site_title_margin: 80px;
$site_title_margin_lg: 50px;
$site_title_margin_sm: 30px;

/* Hero image */
$home_hero_image_main: "build/img/bg_home.jpg";
$home_hero_height_main: 100vh;

/* carousel*/
$small_arrow_image_btn: "build/img/ts_small_arrow-min.png";
$small_arrow_image_blue_btn: "build/img/ts_small_arrow_blue-min.png";

/*Post*/
$post_header_width: 1040px;

$post_header_width_lg: 700px;

$post_margin_top: 60px;

