.btn-ts{


  &:focus, &:hover{

    transition-duration: $ts-standart-tansition-duration;
  }

  &:hover{

    cursor: pointer;
  }

  &:focus{

  }

  @include media-breakpoint-down(sm) {

    width: 100%;


  }


}


.btn-ts-img{

  padding: .3rem 1rem .3rem 32px;

  &:before{

    background-image:url(build/img/arrow-ok.png);
    background-repeat:no-repeat;
    background-position:center center;
    content:"";
    width:20px;
    height:20px;
    position:absolute;
    left: 5px;
    top:50%;
    margin-top:-9px;

  }

  @include media-breakpoint-down(sm) {

    width: 100%;
    padding: .6rem 1rem;

  }
}