.btn-ts{


  &:focus, &:hover{

    transition-duration: $ts-standart-tansition-duration;
  }

  &:hover{

    cursor: pointer;
  }

  &:focus{

  }

  @include media-breakpoint-down(sm) {

    width: 100%;


  }


}


.btn-ts-img{

  padding: .3rem 1rem .3rem 32px;

  &:before{

    background-image:url(build/img/arrow-ok.png);
    background-repeat:no-repeat;
    background-position:center center;
    content:"";
    width:20px;
    height:20px;
    position:absolute;
    left: 5px;
    top:50%;
    margin-top:-9px;

  }

  @include media-breakpoint-down(sm) {

    width: 100%;
    padding: .6rem 1rem;

  }
}

.animate_link_outer{

  %animate_link{
    position: inherit;
    color: $white;
    display: block;
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
    padding: .3rem 0rem;
    width: 0;
    transition: width $ts-standart-tansition-duration ease-in-out;


    &:hover {
      width: 100%;
      text-decoration: none;
      background-color: $white;
      color: $ts_blue;
      text-align: center;
      transition: width $ts-standart-tansition-duration ease-in-out;

    }

    .animate_link_text{

      &::after{
        content: url($small_arrow_image_btn);
        background-repeat: no-repeat;
        width: 20px;
        margin-left: 15px;
      }

    }

  }

  .animate_link_white{
    @extend %animate_link;
  }

  .animate_link_blue{

    @extend %animate_link;

    color: $ts_blue;

    .animate_link_text{

      &::after{
        content: url($small_arrow_image_blue_btn);
        vertical-align: text-top;
      }

    }

    &:hover{
      .animate_link_text::after{
        content: '';
      }
    }
  }


}


.ts_btn_more_posts_row{
  padding-top: $ts_standart_padding;
  padding-bottom: $ts_standart_padding;
}

.ts_btn_blue{

  //position: absolute;
  //bottom: -40px;

  color: $ts_blue;
  border-color: $ts_blue;

  &:hover{
    cursor: pointer;
    background-color: $ts_blue;
    border-color: $ts_blue;
  }

}