
.form-header{

  font-size: 3rem;
  font-family: $font-family-playfair;
  line-height: 1.2;
  text-align: center;
  color: $ts_black;
  margin-bottom: $site_title_margin_sm;

  &.color-white{
    color: $white;
  }

  @include media-breakpoint-down(sm) {

    font-size: 2.0rem;

  }

}



.form_group_ts{

  margin-top: 1rem;

}

.g_recaptcha_outer{

  @include media-breakpoint-down(lg) {

    margin-bottom: 1rem;

  }

}

.form_btn_outer{

  @include media-breakpoint-down(lg) {

    margin-top: 1rem;

  }

}

.form-control {

  &.invalid{

    //color: $ts_error;
    border-color: $ts_error;

  }

}

.js_message_wrapper{
   margin-top: .25rem;
  font-size: .875rem;
  color: $ts_error;
}

.author_form_container{

  position: relative;
  overflow: hidden;
}

.subscribe_form_container{
  @extend .author_form_container;

  max-width: $subscribe_form_width;
  margin: auto;
}

.author_form{
  margin-left: 0%;
  opacity: 1;
  transition: margin-left 0.6s ease-in, opacity 1s ease-in;
}

.form_success_message_outer{
  //display: block;
  position: absolute;
  top: 20%;
  left: 150%;
  width: 100%;
  height: 250px;
  z-index: 2;
  background: $white;
  border: 1px solid $ts_blue;
  opacity: 1;
  transition: left 1s ease-in, opacity 0.1s ease-in;
}

.form_success_message{
  color: $ts_blue;
  text-align: center;
  font-size: 2rem;
  font-family: $font-family-playfair;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.move_right_in{

  opacity: 1;
  left: 15px;
  transition: left 1s ease-in, opacity 0.1s ease-in;

}

.move_right_out{

  opacity: 0;
  margin-left: 200%;
  transition: margin-left 0.6s ease-in, opacity 1s ease-in;

}


.form_ts_outer{


  input::placeholder, textarea::placeholder {
    color: $ts_grey_6;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $ts_grey_6;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $ts_grey_6;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $ts_grey_6;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $ts_grey_6;
  }

}

.form_privacy_policy_row{

  .form_privacy_policy_text{
    font-size: 14px;
  }

  a{

    color: $black;
    text-decoration: none;

    &:hover{
      color: $black;
      text-decoration: none;
    }

  }

}

.subscribe_form{

  .form-control{

    padding: 1rem 1.5rem;

  }

  .form_ts_row{

    @include media-breakpoint-down(md) {

      .form_ts_cell{
        flex-basis: 100%;
      }

    }
  }

  .btn_form_subscribe_col{

    @include media-breakpoint-down(md) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

    }

  }

  .js_message_wrapper{

    position: absolute;
    left: 0;
    top: 100%;

  }

  .form-group{
    margin-bottom: 1.5rem;
  }

  .form_group_ts{
    margin-top: 1.5rem;
    position: relative;
  }

}

.padding-block{

  padding-right: 15px;
  padding-left: 15px;

}

